.detail-container {
  position: fixed;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .embla {
    overflow: hidden;
    .embla__container {
      display: flex;
      .embla__slide {
        display: flex;
        position: relative;
        flex: 0 0 100%;
        justify-content: center;
        align-items: center;

        .focused-container {
          max-width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include media('<=tablet') {
            max-width: 70%;
          }
          img {
            max-width: 80%;
            max-height: 80%;
          }
          p {
            font-family: 'DiatypeRegular';
            font-weight: 400;
          }
        }
      }
      .order-wrapper {
        position: fixed;
        z-index: 10;
        bottom: 10px;
        right: 20px;
        .order {
          p {
            font-family: 'DiatypeRegular', sans-serif;
            font-weight: 400;
            @include media('<=450px') {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}
